<div class="row col-xs-12">
    <div class="row col-xs-4">
        <!-- <label>Server name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p>{{serverName}}</p> -->
        <label>Server name</label>
        <input type="text" class="form-control" [(ngModel)]="serverName">

        <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
        <!-- <p [innerText]="allowNewServer"></p> -->

        <p *ngIf="serverCreated; else noServer">Server was created. Server name is {{ serverName }}</p>
        <ng-template #noServer>
            <p>No server was created</p>
        </ng-template>
    </div>
    <div class="row col-xs-4"></div>
    <div class="row col-xs-4">
        <label>User Name</label>
        <input type="text" class="form-control" [(ngModel)]="userName">

        <button class="btn btn-primary" [disabled]="ifNotEmpty" (click)="onCreateUserName()">Add User</button>
        <button class="btn btn-danger" [disabled]="userName === ''" (click)="userName = ''">Add User</button>

        <p>{{ createdUserName }}</p>
    </div>
    <div class="row col-xs-12">
        <div class="row col-xs-4">
            <app-server *ngFor="let server of servers"></app-server>
        </div>
        <div class="row col-xs-4"></div>
    </div>
</div>